src/workflow.template.json
{
  "id": "deploybot0000001",
  "active": false,
  "name": "deploybot",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "db000000-0000-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "deploybot-webhook-0001",
      "position": [
        -400,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "deploybotcredtg001",
          "name": "Telegram deploybot Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "cfg-allowed",
              "name": "allowedChatIds",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-language",
              "name": "language",
              "value": "Polish",
              "type": "string"
            },
            {
              "id": "cfg-base",
              "name": "base",
              "value": "https://opencode.ai/zen/go/v1",
              "type": "string"
            },
            {
              "id": "cfg-apikey",
              "name": "apiKey",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-intakemodel",
              "name": "intakeModel",
              "value": "kimi-k2.7-code",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "db000000-0000-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-whitelist-1",
              "leftValue": "={{ ($('Config').first().json.allowedChatIds || '').split(',').map(s => s.trim()).filter(Boolean).includes(String($json.message.chat.id)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "db000000-0000-4000-8000-000000000003",
      "name": "Whitelist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        400
      ]
    },
    {
      "parameters": {},
      "id": "db000000-0000-4000-8000-000000000004",
      "name": "Ignore",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// __DEPLOYBOT_BUNDLE__\n\n// ── Router: full state-machine for deploybot ──────────────────────────────────\n// Reads the incoming Telegram message, decides what to do next, emits one item\n// with fields: { action, chatId, text?, payload? }\n// action = 'ask' | 'submit' | 'reply'\n//\n// The LLM intake call (clarifying questions) is made here via the n8n HTTP helper so the\n// graph stays minimal. The runner POST is also done here for the same reason.\n// Telegram delivery is handled by the downstream \"Telegram Send\" node.\n// ─────────────────────────────────────────────────────────────────────────────\n\nconst cfg  = $('Config').first().json;\nconst base = cfg.base     || 'https://opencode.ai/zen/go/v1';\nconst lang = cfg.language || 'Polish';\nconst apiKey = cfg.apiKey || '';\nconst intakeModel = cfg.intakeModel || 'kimi-k2.7-code';\n\nconst msg    = $input.first().json.message || {};\nconst chatId = String(msg.chat && msg.chat.id ? msg.chat.id : '');\nconst text   = (msg.text || '').trim();\n\nconst store = $getWorkflowStaticData('global');\n\n// session ─────────────────────────────────────────────────────────────────────\nconst session = getSession(store, chatId);\n\n// /reset command ──────────────────────────────────────────────────────────────\nif (/^\\/reset\\b/i.test(text)) {\n  reset(session);\n  return [{ json: { action: 'reply', chatId, text: 'Zresetowałem sesję. Opisz aplikację, którą chcesz zbudować.' } }];\n}\n\n// /start or /help ─────────────────────────────────────────────────────────────\nif (/^\\/start\\b|^\\/help\\b/i.test(text)) {\n  return [{ json: {\n    action: 'reply', chatId,\n    text: 'Cześć! Opisz aplikację webową, którą chcesz zbudować, a ja zajmę się resztą.\\n\\nKomendy:\\n/status — co się teraz dzieje\\n/reset — zacznij od nowa'\n  } }];\n}\n\n// /status command — show what the builder is doing right now\nif (/^\\/status\\b/i.test(text)) {\n  let reply = 'Brak aktywnych zadań. Opisz aplikację, aby zacząć.';\n  try {\n    const st = await helpers.httpRequest({ method: 'GET', url: RUNNER_URL.replace(/\\/jobs$/, '/status'), json: true });\n    if (st.current) {\n      reply = '🔧 Buduję: ' + st.current.job.appName + ' (' + st.current.status + ')';\n      if (st.currentLog) reply += '\\n\\n— ostatnie logi agenta —\\n' + st.currentLog;\n    } else if (st.recent && st.recent.length) {\n      const r = st.recent[0];\n      reply = 'Ostatnie zadanie: ' + r.job.appName + ' → ' + r.status + (r.link ? '\\n' + r.link : '') + (r.error ? '\\n' + r.error : '');\n    }\n  } catch (e) {\n    reply = 'Nie mogę połączyć się z runnerem: ' + (e && e.message ? e.message : String(e));\n  }\n  return [{ json: { action: 'reply', chatId, text: reply } }];\n}\n\n// ── Phase: idle ──────────────────────────────────────────────────────────────\nif (session.phase === 'idle') {\n  if (!text) {\n    return [{ json: { action: 'reply', chatId, text: 'Opisz aplikację, którą chcesz zbudować.' } }];\n  }\n  // Already have a deployed app? Treat this message as an UPDATE to it (until /reset).\n  if (session.currentApp) {\n    const upd = buildJobPayload({ chatId, description: text, answers: {} }, session.currentApp, true);\n    try {\n      await helpers.httpRequest({ method: 'POST', url: RUNNER_URL, body: upd, json: true });\n    } catch (e) {\n      return [{ json: { action: 'reply', chatId, text: 'Nie udało się zlecić aktualizacji: ' + (e && e.message ? e.message : String(e)) } }];\n    }\n    return [{ json: { action: 'reply', chatId, text: '🔧 Aktualizuję „' + session.currentApp + '\"… /reset = nowa aplikacja.' } }];\n  }\n  // Call the intake LLM to get clarifying questions\n  const systemPrompt = intakeSystemPrompt(lang);\n  const llmBody = {\n    model: intakeModel,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user',   content: text }\n    ],\n    max_tokens: 512\n  };\n  let llmText = '';\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: base + '/chat/completions',\n      headers: { 'Authorization': 'Bearer ' + apiKey },\n      body: llmBody,\n      json: true,\n    });\n    llmText = resp?.choices?.[0]?.message?.content || '';\n  } catch (e) {\n    llmText = '{\"questions\":[]}';\n  }\n  const { questions } = parseIntake(llmText);\n  // Store draft in session\n  const draft = {\n    chatId,\n    description: text,\n    questions,\n    answers: {},\n    answerIndex: 0\n  };\n  if (questions.length === 0) {\n    // No questions — ask for subdomain immediately\n    startClarifying(session, draft);\n    session.draft.awaitingSubdomain = true;\n    return [{ json: {\n      action: 'ask', chatId,\n      text: 'Jak ma się nazywać subdomena Twojej aplikacji? (np. `moj-projekt`)'\n    } }];\n  }\n  startClarifying(session, draft);\n  return [{ json: { action: 'ask', chatId, text: questions[0] } }];\n}\n\n// ── Phase: clarifying ─────────────────────────────────────────────────────────\nif (session.phase === 'clarifying') {\n  const draft = session.draft;\n\n  // Are we waiting for a subdomain answer?\n  if (draft.awaitingSubdomain) {\n    const sub = extractSubdomain(text) || text.toLowerCase().replace(/[^a-z0-9-]/g, '');\n    if (!isValidSubdomain(sub)) {\n      return [{ json: {\n        action: 'ask', chatId,\n        text: 'Subdomena jest nieprawidłowa. Użyj małych liter, cyfr i myślników (np. `moj-projekt`).'\n      } }];\n    }\n    draft.subdomain = sub;\n    // Ready to submit!\n    markBuilding(session);\n    const payload = buildJobPayload(draft, sub, false);\n    // POST to runner\n    try {\n      await helpers.httpRequest({\n        method: 'POST',\n        url: RUNNER_URL,\n        body: payload,\n        json: true,\n      });\n    } catch (e) {\n      reset(session);\n      return [{ json: {\n        action: 'reply', chatId,\n        text: 'Nie udało się zlecić zadania: ' + (e && e.message ? e.message : String(e))\n      } }];\n    }\n    session.phase = 'idle';\n    session.draft = null;\n    session.currentApp = sub;\n    return [{ json: {\n      action: 'reply', chatId,\n      text: 'Zadanie przyjęte! Buduję aplikację — wyślę link, gdy będzie gotowa.\\nKolejne wiadomości zaktualizują tę aplikację. /reset = nowa.'\n    } }];\n  }\n\n  // Still collecting answers to questions\n  const qi = draft.answerIndex || 0;\n  const q  = draft.questions[qi];\n  draft.answers[q] = text;\n  draft.answerIndex = qi + 1;\n\n  if (draft.answerIndex < draft.questions.length) {\n    // More questions\n    return [{ json: { action: 'ask', chatId, text: draft.questions[draft.answerIndex] } }];\n  }\n  // All answered — ask for subdomain\n  draft.awaitingSubdomain = true;\n  return [{ json: {\n    action: 'ask', chatId,\n    text: 'Jak ma się nazywać subdomena Twojej aplikacji? (np. `moj-projekt`)'\n  } }];\n}\n\n// ── Phase: building ───────────────────────────────────────────────────────────\nif (session.phase === 'building') {\n  return [{ json: {\n    action: 'reply', chatId,\n    text: 'Twoja aplikacja jest już w kolejce do budowania. Poczekaj chwilę lub wpisz /reset, aby zacząć od nowa.'\n  } }];\n}\n\n// Fallback\nreturn [{ json: { action: 'reply', chatId, text: 'Opisz aplikację, którą chcesz zbudować.' } }];\n"
      },
      "id": "db000000-0000-4000-8000-000000000005",
      "name": "Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "db000000-0000-4000-8000-000000000006",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "deploybotcredtg001",
          "name": "Telegram deploybot Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whitelist": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
